# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules/

# Environment variables
.env

# Build files
dist/
build/
out/
public/

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db

uploads/